.themes{
    position: fixed;
    top:10px;
    right:10px;
}

#theme{
    background-color: orange;
    padding:4px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#theme2{
    background-color: rgb(51, 50, 49);
    padding:4px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}



#head{
    background-color: black;
    color:white;
    padding:5px;
    position:sticky;
    top:0;
    width:auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

h2{
    display:flex;
    justify-content: center;
    position: relative;
    top:1px;
}

.nav{
    display:flex;
    width: 40%;
    margin-left: 1rem;
    gap:4rem; 
}

a{
    background-color: rgb(28, 95, 239,0.5);
    text-decoration: none;
    border-radius: 10px;
    padding:10px;
    color:white;
}

a:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}

#bio{
    display: flex;
     justify-content: center;
}

#mybio{
    display:flex;
    width:auto;
    padding:10px;
    border-radius: 5px;
     align-items: center;
    justify-content: center;
    background-color: rgb(109, 72, 3,0.6);
}

#imagecontainer{
    display: flex;
    justify-content: center;
    gap:10px;
}

img{
    width: 350px;
    height: 300px;
    border-radius: 10px;
}

#image{
    display:flex;
    width:350px;
    flex-direction: column;
    padding:10px;
    box-shadow:  1px 1px 10px black;
    border-radius: 10px;
}

.imagehover{
    display:none;
    opacity: 0;
    transition: 1s ease;

}

#image:hover .imagehover{
    display:block;
    transform: translateY(5px) 2s;
    opacity: 1;


}

#about{
    display:flex;
    gap:5px;
    width:auto;
    flex-direction: column;
    
}

#story{
    display: flex;
    padding: 10px;
    height:auto;
    box-shadow: 2px 2px 5px black;
    border-top-right-radius: 10px;
}


#story2{
     display: flex;
     height:auto;
    padding: 10px;
    box-shadow: 2px 02px 5px black;
    border-bottom-right-radius: 10px;
}
.grid{
    padding:100px;
    height:auto;
    justify-items: center;
}

.myprojects{
    display: grid;
    gap:10px;
    margin: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}

.div{
    display:flex;
    flex-wrap: wrap;
    background-color: bisque;
    border-radius: 10px;
    padding:10px;
}

#contact{
    padding:10px;
    color:white;
    background-color: rgb(10, 10, 10);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

a{
    text-decoration: none;
    color: white;
    margin-left: 50%;
}

.icon{
    size: 10px;
}


.spike{
    background-color: white;
      padding-bottom: 3px;
    padding-top:14px;
    color: rgb(173, 6, 173);
}
.spike:hover{
    background-image: linear-gradient(to right,blue,purple);
    color:white;
}

.icon{
    width: 30px;
    height: 30px;
}

.whatsapp{
    background-color: white;
      padding-bottom: 3px;
    padding-top:14px;
    color:rgb(11, 88, 11)
}
.whatsapp:hover{
      background-image: linear-gradient(to right, rgb(8, 84, 8), rgb(226, 216, 216));
    color:white;
}

.facebook{
    background-color: blue;
      padding-bottom: 3px;
    padding-top:14px;
    color:white
}
.facebook:hover{
    background-image: linear-gradient(to right, rgb(94, 94, 221), white);
    color:rgb(10, 10, 103);
}


.instagram{
    background-color: rgb(217, 12, 12);
    padding-bottom: 3px;
    padding-top:14px;
    color:white;

}
.instagram:hover{
     background-image: linear-gradient(to right, rgb(241, 12, 12), rgb(16, 15, 15));
    color:rgb(255, 255, 255);
}

.footer{
    display: flex;
    color:white;
    background-color: blue;
    justify-content: center;
}





@media (max-width:414px) {
body{
    font-size: 12px;
}

    #head{
        font-size: 10px;
        height:113px;
        padding:5px;
        background-color: rgb(2, 2, 50);
    }

    .nav{
        
    display:flex;
    width: 40%;
    height: 30px;
    padding: 2px;
    margin-left:1px;
     gap:5px;
    }
        .imagecontainer {
        width: 50%;    
        height: auto;   
          }

#mybio{
    padding:5px;
}
    
#story{
    display: flex;
    padding: 5px;
    height:auto;
    width:auto;
    font-size: auto;
}


#story2{
     display: flex;
      height:auto;
    padding: 10px;
    width:auto;
       font-size: auto;
    }

    
img{
    width: 150px;
    height: 100px;
    border-radius: 10px;

}


#image{
    display:flex;
    width:350px;
    flex-direction: column;
    padding:10px;
    box-shadow:  1px 1px 10px black;
    border-radius: 10px;
       font-size: 13px;
}

#contact{
     background-color: rgb(2, 2, 43);
}


}


@media (max-width:1200px){
    
    .nav{
        
    display:flex;
    width: 40%;
    height: 30px;
    padding: 2px;
    margin-left:1px;
     gap:5px;
    }

    
.myprojects{
    display: grid;
    gap:10px;
    margin: 10px;
    /* grid-template-columns: repeat(1,1fr); */
}

.div{
    display:flex;
    width: 300px;
    padding:10px;
    flex-wrap: wrap;
     border-radius: 10px;
    background-color: bisque;
   
}

}